---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { FACEBOOK_URL, SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import { getUrl } from "../../components/getUrl";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      main {
        max-width: 960px;
        margin: 0 auto 4rem;
      }
      .pageheader {
        padding: 1rem 0rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      nav {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0 1rem;
      }
      nav a {
        background: var(--color-primary-800);
        border-radius: 0.5rem;
        border: none;
        color: white;
        cursor: pointer;
        font-size: 1rem;
        padding: 0.5rem 1rem;
        text-decoration: none;
        transition: all 0.5s ease;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        white-space: nowrap;
      }
      nav a:hover,
      nav a:focus {
        background: var(--color-primary-600);
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      ul li {
        width: calc(50% - 1rem);
      }
      ul li * {
        text-decoration: none;
        transition: 0.2s ease;
      }
      ul li:first-child {
        width: 100%;
        margin-bottom: 1rem;
        text-align: center;
      }
      ul li:first-child img {
        width: 100%;
      }
      ul li:first-child .title {
        font-size: 2.369rem;
      }
      ul li img {
        margin-bottom: 0.5rem;
        border-radius: 12px;
        object-fit: cover;
        max-width: 100%;
        max-height: 100%;
      }
      ul li a {
        display: block;
      }
      .title {
        margin: 0;
        color: var(--color-gray-950);
        line-height: 1;
      }
      .date {
        margin: 0;
        color: rgb(var(--gray));
      }
      ul li a:hover h4,
      ul li a:hover .date {
        color: rgb(var(--accent));
      }
      ul a:hover img {
        box-shadow: var(--box-shadow);
      }
      @media (max-width: 720px) {
        ul {
          gap: 0.5em;
        }
        ul li {
          width: 100%;
          text-align: center;
        }
        ul li:first-child {
          margin-bottom: 0;
        }
        ul li:first-child .title {
          font-size: 1.563em;
        }
        nav {
          padding: 0;
        }
        main {
          margin: 0 0.5rem 2rem;
        }
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <div class="pageheader">
        <h2>News</h2>
        <nav>
          <a href={FACEBOOK_URL} target="_blank">
            <i class="fa-brands fa-facebook"></i>
            <span>Facebook</span>
          </a>
          <a href={getUrl("rss.xml")} target="_blank">
            <i class="fa-solid fa-square-rss"></i>
            <span>RSS feed</span>
          </a>
        </nav>
      </div>
      <section>
        <ul>
          {
            posts.map((post) => (
              <li>
                <a href={getUrl(`blog/${post.slug}/`)}>
                  <img
                    width={720}
                    height={360}
                    src={getUrl("blog/" + post.data.heroImage)}
                    alt=""
                  />
                  <h4 class="title">{post.data.title}</h4>
                  <p class="date">
                    <FormattedDate date={post.data.pubDate} />
                  </p>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
