---
import { Masonry } from "astro-masonry";
import { Image } from "astro:assets";
import PondFestShirt from "../../images/pf2025-images/pondfest-shirt.png";
import Layout from "../../layouts/PFLivePage.astro";
import { getUrl } from "../../components/getUrl";
import { FACEBOOK_URL, INSTAGRAM_URL, SITE_TITLE } from "../../consts";
import Modal from "../../components/Modal.astro";
import logo from "../../images/logo-with-title.png";
import PFLiveBG from "../../images/pf2025-images/pf-live-bg.jpg";
import { RAFFLES } from "../data/pf2025/raffles";
import { PF_LIVE_ALERT } from "../data/pf2025/pf-consts";
import beerFirstStateImg from "../../images/pf2025-images/beer-1st-state.png";
import beerJaklImg from "../../images/pf2025-images/beer-jakl.png";
import beerVolunteerImg from "../../images/pf2025-images/beer-volunteer.png";
import EventMapImg from "../../images/pf2025-images/pondfest2025-event-map.png";
import ParkingMapImg from "../../images/pf2025-images/pondfest2025-parking-map.png";
import FirstRespondersMapImg from "../../images/pf2025-images/pondfest2025-firstresponders.png";
import VendorMapImg from "../../images/pf2025-images/pondfest-vendor-map.png";
import PondFestLineupImg from "../../images/pf2025-images/pondfest2025-lineup.png";
import ActivitiesSchedImg from "../../images/pf2025-images/pondfest2025-activities.png";
import {
  PLATINUM,
  GOLD,
  SILVER,
  BRONZE,
  FAMILY,
} from "../data/pf2025/sponsors";
import { volunteers } from "../data/pf2025/volunteers";
---

<style>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  html {
    font-size: 22px;
  }
  body {
    padding: 1rem;
  }
  .px-2 {
    padding: 0.75rem;
  }
  .modal-link {
    margin: 3%;
    text-align: center;
    border: solid gray 2px;
  }
  .map-container {
    display: grid;
    grid-template-columns: 48% 48%;
    padding: 3%;
  }

  .modalDialog {
    position: relative;
    display: flex;
    max-width: 90vw;
    max-height: 90vh;
  }
  .modalDialog .menu-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(var(--color-gray-rgb-100), 0.5);
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 0.5rem;
    cursor: pointer;
  }
  #dialog-img {
    width: 100%;
    height: 100%;
    max-width: 90vw;
    max-height: 90vh;
    object-fit: contain;
  }
  @media (max-width: 720px) {
    #dialog-img {
      object-fit: scale-down;
    }
  }

  #event-lineup-img {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
  }
  .thumbnail {
    border: none;
    padding: 0;
  }
  .thumbnail img {
    max-height: 100%;
    max-width: 100%;
    height: 90px;
    object-fit: contain;
  }
  .beer-vendor-img {
    width: auto;
    height: auto;
    max-height: 500%;
    max-width: 50%;
  }

  tr:nth-child(even) {
    background-color: #ddd;
  }

  :is(h1, h2, h3, h4, h5, h6) {
    padding-top: 0.5em;
  }

  #accordion__button {
    width: 100%;
  }
  .sponsor {
    color: black;
    line-height: 0.8rem;
    padding: 0.5em;
  }
  .sponsors {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 0.1rem;
    text-align: center;
    line-height: 0.8rem;
    padding-bottom: 1em;
  }
  .sponsor-headers {
    text-align: center;
    h6 {
      margin-bottom: 4px;
    }
    h5 {
      margin-bottom: 4px;
    }
    h4 {
      margin-top: 400px;
    }
  }
  h4 {
    margin-top: 1rem;
  }
  @media (min-width: 400px) {
    .cards {
      grid-template-columns: repeat(2, 1fr);
    }
    .sponsors {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>

<Layout title="Welcome to Pond Fest 2025!" alert_text={PF_LIVE_ALERT}>
  <Modal id="modalDialog" open="Open modal">
    <main slot="main" class="modalDialog">
      <img id="dialog-img" />
      <button slot="close" class="menu-button">
        <i class="fa-solid fa-xmark fa-lg"></i>
      </button>
    </main>
  </Modal>
  <div
    id="maps-accordion"
    class="accordion group relative rounded-md border border-purple-900"
  >
    <button
      class="accordion__button flex w-full flex-1 items-center justify-between gap-2 p-3 text-left font-medium transition hover:text-purple-500 sm:px-4"
      type="button"
      id={`pflive-maps accordion menu button`}
      aria-expanded="false"
      aria-controls={`pflive-maps accordion menu content`}
    >
      Maps
      <svg
        class="accordion__chevron h-7 w-7 shrink-0 transition-transform"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        ><path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m6 9l6 6l6-6"></path></svg
      >
    </button>
    <div
      id={`pflive-maps accordion menu content`}
      aria-labelledby={`pflive-maps accordion menu button`}
      class="accordion__content hidden max-h-0 overflow-hidden px-3 transition-all duration-300 ease-in-out sm:px-4"
      tile-grid
    >
      <div class="map-container">
        <div class="modal-link">
          <h6>Event Map</h6>
          <div class="container">
            <button data-src={EventMapImg.src} class="thumbnail">
              <Image
                src={EventMapImg}
                alt="pond fest event map"
                class="map-thumb-img"
              />
            </button>
          </div>
        </div>

        <div class="modal-link">
          <h6>Parking</h6>
          <div class="container">
            <button data-src={ParkingMapImg.src} class="thumbnail">
              <Image
                src={ParkingMapImg}
                alt="pond fest parking map"
                class="map-thumb-img"
              />
            </button>
          </div>
        </div>

        <div class="modal-link">
          <h6>Vendors</h6>
          <div class="container">
            <button data-src={VendorMapImg.src} class="thumbnail">
              <Image
                src={VendorMapImg}
                alt="pond fest vendor map"
                class="map-thumb-img"
              />
            </button>
          </div>
        </div>

        <div class="modal-link">
          <h6>First Responders</h6>
          <div class="container">
            <button data-src={FirstRespondersMapImg.src} class="thumbnail">
              <Image
                src={FirstRespondersMapImg}
                alt="pond fest first responders map"
                class="map-thumb-img"
              />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    id="schedules-accordion"
    class="accordion group relative rounded-md border border-purple-900"
  >
    <button
      class="accordion__button flex w-full flex-1 items-center justify-between gap-2 p-3 text-left font-medium transition hover:text-purple-500 sm:px-4"
      type="button"
      id={`pflive-schedule accordion menu button`}
      aria-expanded="false"
      aria-controls={`pflive-schedule accordion menu content`}
    >
      Schedule

      <!-- use this is not using astro-icon (or another SVG you like) -->
      <svg
        class="accordion__chevron h-7 w-7 shrink-0 transition-transform"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        ><path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m6 9l6 6l6-6"></path></svg
      >
    </button>

    <div
      id={`pflive-schedule accordion menu content`}
      aria-labelledby={`pflive-schedule accordion menu button`}
      class="accordion__content hidden max-h-0 overflow-hidden px-3 transition-all duration-300 ease-in-out sm:px-4"
    >
      <p class="prose mb-4 mt-1 max-w-full transition-[height]">
        <div class="map-container">
          <div class="modal-link">
            <h6>Live Music Lineup</h6>
            <div class="container">
              <button data-src={PondFestLineupImg.src} class="thumbnail">
                <Image
                  src={PondFestLineupImg}
                  alt="pond fest event lineup"
                  class="map-thumb-img"
                />
              </button>
            </div>
          </div>

          <div class="modal-link">
            <h6>Activities</h6>
            <div class="container">
              <button data-src={ActivitiesSchedImg.src} class="thumbnail">
                <Image
                  src={ActivitiesSchedImg}
                  alt="pond fest activities schedule"
                  class="map-thumb-img"
                />
              </button>
            </div>
          </div>
        </div>
      </p>
    </div>
  </div>

  <div
    id="foodbeer-accordion"
    class="accordion group relative rounded-md border border-purple-900"
  >
    <button
      class="accordion__button flex w-full flex-1 items-center justify-between gap-2 p-3 text-left font-medium transition hover:text-purple-500 sm:px-4"
      type="button"
      id={`pflive-food accordion menu button`}
      aria-expanded="false"
      aria-controls={`pflive-food accordion menu content`}
    >
      Food & Beer

      <!-- use this is not using astro-icon (or another SVG you like) -->
      <svg
        class="accordion__chevron h-7 w-7 shrink-0 transition-transform"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        ><path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m6 9l6 6l6-6"></path></svg
      >
    </button>

    <div
      id={`pflive-food accordion menu content`}
      aria-labelledby={`pflive-food accordion menu button`}
      class="accordion__content hidden max-h-0 overflow-hidden px-3 transition-all duration-300 ease-in-out sm:px-4"
    >
      <h5>Local Brews</h5>
      <p>
        Thanks to the generous donations of local breweries, beer and seltzer
        can be purchased for 3 tickets each. Tickets costs $2 and are available
        at Pond Fest HQ along with 21+ wristbands (required to purchase
        alcohol). Note that beer tickets can be exchanged for an equal value in
        raffle tickets.
      </p>
      <p>
        <Image
          src={beerJaklImg}
          alt="jakl beer works"
          class="beer-vendor-img"
        />
      </p>
      <p>JAKL Beer Works: Near the Wingspan pavilion.</p>
      <p>
        <Image
          src={beerVolunteerImg}
          alt="volunteer brewing co"
          class="beer-vendor-img"
        />
      </p>
      <p>Volunteer Brewing Company: Near the Monarch pavilion.</p>
      <p>
        <Image
          src={beerFirstStateImg}
          alt="first state brewery"
          class="beer-vendor-img"
        />
      </p>
      <p>First State Brewing Company: Near the Monarch pavilion.</p>

      <h5>Food Trucks</h5>
       Grab a bite at one of the food trucks to support FOLP. All food trucks
      are generously donating 10% of their profits today back to FOLP!
      <ul>
        <li>Dixie’s Down Home Cooking - near the Monarch pavilion.</li>
        <li>DE Mex Street Foods - near the Nest Box pavilion.</li>
        <li>We Aim To Cheese - near the Wingspan pavilion.</li>
        <li>Kona Ice - Near the lawn seating area next to Wingspan.</li>
      </ul>
    </div>
  </div>

  <div
    id="raffles-accordion"
    class="accordion group relative rounded-md border border-purple-900"
  >
    <button
      class="accordion__button flex w-full flex-1 items-center justify-between gap-2 p-3 text-left font-medium transition hover:text-purple-500 sm:px-4"
      type="button"
      id={`pflive-raffles accordion menu button`}
      aria-expanded="false"
      aria-controls={`pflive-raffles accordion menu content`}
    >
      Raffles & Silent Auction

      <!-- use this is not using astro-icon (or another SVG you like) -->
      <svg
        class="accordion__chevron h-7 w-7 shrink-0 transition-transform"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        ><path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m6 9l6 6l6-6"></path></svg
      >
    </button>

    <div
      id={`pflive-raffles accordion menu content`}
      aria-labelledby={`pflive-raffles accordion menu button`}
      class="accordion__content hidden max-h-0 overflow-hidden px-3 transition-all duration-300 ease-in-out sm:px-4"
    >
      <p class="prose mb-4 mt-1 max-w-full transition-[height]">
        <p>
          <a href={getUrl("resources/pf-raffle")}
            >Click here for info on raffles and winners.</a
          >
        </p>
        <p>
          <a href={getUrl("resources/pf-auction")}
            >Click here for info on the silent auction and winners.</a
          >
        </p>
      </p>
    </div>
  </div>

  <div
    id="faq-accordion"
    class="accordion group relative rounded-md border border-purple-900"
  >
    <button
      class="accordion__button flex w-full flex-1 items-center justify-between gap-2 p-3 text-left font-medium transition hover:text-purple-500 sm:px-4"
      type="button"
      id={`pflive-faqs accordion menu button`}
      aria-expanded="false"
      aria-controls={`pflive-faqs accordion menu content`}
    >
      Frequently Asked Questions

      <!-- use this is not using astro-icon (or another SVG you like) -->
      <svg
        class="accordion__chevron h-7 w-7 shrink-0 transition-transform"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        ><path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m6 9l6 6l6-6"></path></svg
      >
    </button>

    <div
      id={`pflive-faqs accordion menu content`}
      aria-labelledby={`pflive-faqs accordion menu button`}
      class="accordion__content hidden max-h-0 overflow-hidden px-3 transition-all duration-300 ease-in-out sm:px-4"
    >
      <p class="prose mb-4 mt-1 max-w-full transition-[height]">
        <a href={getUrl("resources/pf-faq")}
          >Click here for FAQ's and details about today's event.</a
        >
      </p>
    </div>
  </div>

  <div
    id="donate-accordion"
    class="accordion group relative rounded-md border border-purple-900"
  >
    <button
      class="accordion__button flex w-full flex-1 items-center justify-between gap-2 p-3 text-left font-medium transition hover:text-purple-500 sm:px-4"
      type="button"
      id={`pflive-donate accordion menu button`}
      aria-expanded="false"
      aria-controls={`pflive-donate accordion menu content`}
    >
      Donate

      <!-- use this is not using astro-icon (or another SVG you like) -->
      <svg
        class="accordion__chevron h-7 w-7 shrink-0 transition-transform"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        ><path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m6 9l6 6l6-6"></path></svg
      >
    </button>

    <div
      id={`pflive-donate accordion menu content`}
      aria-labelledby={`pflive-donate accordion menu button`}
      class="accordion__content hidden max-h-0 overflow-hidden px-3 transition-all duration-300 ease-in-out sm:px-4"
    >
      <p class="prose mb-4 mt-1 max-w-full transition-[height]">
        <script src="https://donorbox.org/widget.js" paypalExpress="false"
        ></script>
        <iframe
          src="https://donorbox.org/embed/pond-fest-2025-donations?"
          name="donorbox"
          allowpaymentrequest="allowpaymentrequest"
          seamless="seamless"
          frameborder="0"
          scrolling="no"
          height="900px"
          width="100%"
          style="max-width: 500px; min-width: 250px; max-height:none!important"
          allow="payment"></iframe>
      </p>
    </div>
  </div>

  <div
    id="join-accordion"
    class="accordion group relative rounded-md border border-purple-900"
  >
    <button
      class="accordion__button flex w-full flex-1 items-center justify-between gap-2 p-3 text-left font-medium transition hover:text-purple-500 sm:px-4"
      type="button"
      id={`pflive-join accordion menu button`}
      aria-expanded="false"
      aria-controls={`pflive-join accordion menu content`}
    >
      Join FOLP

      <!-- use this is not using astro-icon (or another SVG you like) -->
      <svg
        class="accordion__chevron h-7 w-7 shrink-0 transition-transform"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        ><path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m6 9l6 6l6-6"></path></svg
      >
    </button>

    <div
      id={`pflive-join accordion menu content`}
      aria-labelledby={`pflive-join accordion menu button`}
      class="accordion__content hidden max-h-0 overflow-hidden px-3 transition-all duration-300 ease-in-out sm:px-4"
    >
      <p class="prose mb-4 mt-1 max-w-full transition-[height]">
        <script src="https://donorbox.org/widget.js" paypalExpress="false"
        ></script>
        <iframe
          src="https://donorbox.org/embed/friends-of-lums-pond?"
          name="donorbox"
          allowpaymentrequest="allowpaymentrequest"
          seamless="seamless"
          frameborder="0"
          scrolling="no"
          height="900px"
          width="100%"
          style="max-width: 500px; min-width: 250px; max-height:none!important"
          allow="payment"></iframe>
      </p>
    </div>
  </div>

  <div
    id="volunteer-accordion"
    class="accordion group relative rounded-md border border-purple-900"
  >
    <button
      class="accordion__button flex w-full flex-1 items-center justify-between gap-2 p-3 text-left font-medium transition hover:text-purple-500 sm:px-4"
      type="button"
      id={`pflive-faqs accordion menu button`}
      aria-expanded="false"
      aria-controls={`pflive-faqs accordion menu content`}
    >
      Event Volunteers

      <!-- use this is not using astro-icon (or another SVG you like) -->
      <svg
        class="accordion__chevron h-7 w-7 shrink-0 transition-transform"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        ><path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m6 9l6 6l6-6"></path></svg
      >
    </button>

    <div
      id={`pflive-faqs accordion menu content`}
      aria-labelledby={`pflive-faqs accordion menu button`}
      class="accordion__content hidden max-h-0 overflow-hidden px-3 transition-all duration-300 ease-in-out sm:px-4"
    >
      <p class="prose mb-4 mt-1 max-w-full transition-[height]">
        <p class="px-2">
          Thank you for your incredible dedication and hard work in making Pond
          Fest a reality! Your time, energy, and enthusiasm have brought this
          event to life, and we couldn't have done it without you.
        </p>
        <ul>
          {volunteers.map((volunteer) => <li>{volunteer}</li>)}
          <li>
            ...and everyone whose contributions made this event possible,
            including those we may not have mentioned.
          </li>
        </ul>
      </p>
    </div>
  </div>

  <h4>Special thanks to all of our Pond Fest 2025 sponsors:</h4>
  <h5 class="sponsor-headers">Platinum Sponsors</h5>
  <div class="sponsors">
    {PLATINUM.map((sponsor) => <div class="sponsor">{sponsor}</div>)}
  </div>
  <h5 class="sponsor-headers">Gold Sponsors</h5>
  <div class="sponsors">
    {GOLD.map((sponsor) => <div class="sponsor">{sponsor}</div>)}
  </div>
  <h5 class="sponsor-headers">Silver Sponsors</h5>
  <div class="sponsors">
    {SILVER.map((sponsor) => <div class="sponsor">{sponsor}</div>)}
  </div>
  <h5 class="sponsor-headers">Bronze Sponsors</h5>
  <div class="sponsors">
    {BRONZE.map((sponsor) => <div class="sponsor">{sponsor}</div>)}
  </div>
  <h5 class="sponsor-headers">Family Sponsors</h5>
  <div class="sponsors">
    {FAMILY.map((sponsor) => <div class="sponsor">{sponsor}</div>)}
  </div>
  <script>
    function accordionSetup() {
      const accordionMenus = document.querySelectorAll(
        ".accordion",
      ) as NodeListOf<HTMLElement>;
      accordionMenus.forEach((accordionMenu) => {
        const accordionButton = accordionMenu.querySelector(
          ".accordion__button",
        ) as HTMLElement;
        const accordionChevron = accordionMenu.querySelector(
          ".accordion__chevron",
        ) as HTMLElement;
        const accordionContent = accordionMenu.querySelector(
          ".accordion__content",
        ) as HTMLElement;

        if (accordionButton && accordionContent && accordionChevron) {
          accordionButton.addEventListener("click", (event) => {
            if (!accordionMenu.classList.contains("active")) {
              // if accordion is currently closed, so open it
              accordionMenu.classList.add("active");
              accordionButton.setAttribute("aria-expanded", "true");

              // set max-height to the height of the accordion content
              // this makes it animate properly
              accordionContent.classList.remove("hidden");
              accordionContent.style.maxHeight =
                accordionContent.scrollHeight + "px";
              accordionChevron.classList.add("rotate-180");
            } else {
              // accordion is currently open, so close it
              accordionMenu.classList.remove("active");
              accordionButton.setAttribute("aria-expanded", "false");

              // set max-height to the height of the accordion content
              // this makes it animate properly
              accordionContent.style.maxHeight = "0px";
              accordionChevron.classList.remove("rotate-180");
              // delay to allow close animation
              setTimeout(() => {
                accordionContent.classList.add("hidden");
              }, 300);
            }
            event.preventDefault();
            return false;
          });
        }
      });
    }

    // runs on initial page load
    accordionSetup();

    // runs on view transitions navigation
    document.addEventListener("astro:after-swap", accordionSetup);
  </script>

  <script>
    var dialogImage = document.getElementById("dialog-img");
    var buttons = document.querySelectorAll("button[data-src]");
    buttons.forEach((button) => {
      button.addEventListener("click", async () => {
        const srcKey = button.getAttribute("data-src");
        const src = srcKey?.replace("/public", "");
        dialogImage?.setAttribute("src", src || "");
        // timeout to avoid flash of previous image
        setTimeout(() => {
          //@ts-ignore
          window.modalDialog.showModal();
        }, 10);
      });
    });
  </script>
</Layout>
