---
import { Image } from "astro:assets";
import Layout from "../../layouts/SecondaryPage.astro";
import { getUrl } from "../../components/getUrl";
import EventMapImg from "../../images/pf2025-images/pondfest2025-event-map.png";
import ParkingMapImg from "../../images/pf2025-images/pondfest2025-parking-map.png";
import FirstRespondersMapImg from "../../images/pf2025-images/pondfest2025-firstresponders.png";
import PondFest from "../../images/pf2025-images/pondfest-2025-hero.png";
import PondFestShirt from "../../images/pf2025-images/pondfest2025-shirt.png";
import PondFestLineupImg from "../../images/pf2025-images/pondfest2025-lineup.png";
import VendorMap from "../../images/pf2025-images/pondfest-vendor-map.png";
import { RAFFLES } from "../data/pf2025/raffles";
import { VENDORS } from "../data/pf2025/vendors";
import { volunteers } from "../data/pf2025/volunteers";
---

<Layout title="Pond Fest 2025">
  <Image src={PondFest} alt="pond fest logo" id="event-logo" />
  <h2>What is Pond Fest?</h2>
  <h3>Friends of Lums Pond</h3>
  <p>
    Friends of Lums Pond, Inc. is a nonprofit organization dedicated to
    preserving and enhancing Lums Pond State Park through volunteer efforts,
    fundraising, education, and advocacy. Operating independently since 2002, we
    work under a Friends agreement with Delaware State Parks, following their
    standards for volunteer organizations.
  </p>
  <p>
    Come talk to us at the information tables! You could even become a member!

    <br />
     You can read more about <a href={getUrl("resources/membership")}
      >member benefits here</a
    >.
  </p>
  <h3>Pond Fest</h3>
  <p>
    Pond Fest is a concert for a cause hosted by the Friends of Lums Pond State
    Park. Our specific goals for this event are to fund youth scholarships as
    much as possible in 2025 and install an accessible kayak launch ramp.
  </p>
  <p>
    Our group has reached out to our local community including small businesses,
    non-profits, crafters, volunteers, and clubs. The response has been
    incredibly rewarding and positive!
  </p>
  <p>
    Our goal this year is to raise $10,000. Please help us achieve our goal to
    give back to the park and community!
  </p>

  <p>
    We also have event-exclusive merch for sale at the information tables!
    <Image src={PondFestShirt} alt="pond fest shirt" id="event-shirt" />
  </p>
  <p>
    Tag us on social media!
    <br />@FriendsOfLumsPond
    <br />#LumsPond
    <br />#LumsPondFest
    <br />#NatureRocks
    <br />#DEStateParks
  </p>

  <h2>What are we fundraising for?</h2>

  <h3>Youth Scholarships</h3>
  <p>
    Scholarship funds increase access for Title 1 schools (schools with 40% or
    more low-income families) to the outdoors through environmental education
    field trips by reducing the cost barrier to local schools. In the spring of
    2024, Lums Pond had 524 students attend these field trips. Our ultimate goal
    is to subsidize as much of that as possible and enable more students to
    participate. If you'd like to contribute to this program directly, please
    visit our <a href="https://donorbox.org/pond-fest-2025-donations"
      >fundraising campaign here</a
    >.
  </p>

  <h3>Accessible Kayak Launch</h3>
  <p>
    We want to make Lums Pond more accessible so that everyone has the chance to
    enjoy being on the water. This year we are targeting a BoardSafe Accessible
    Kayak Launch, a nationally recognized system designed with adaptive features
    that make it safer and easier for people of all abilities to launch and land
    their kayaks. The launch includes transfer platforms, handrails, and
    stability features that allow users greater independence. By funding this
    project, we will open Lums Pond’s waters to more visitors than ever before.
    If you'd like to contribute to this program directly, please visit our <a
      href="https://donorbox.org/pond-fest-2025-donations"
      >fundraising campaign here</a
    >.
  </p>

  <h3>Our Mission</h3>
  <p>
    We are also raising funds to support our organization's ongoing mission of
    preserving and enhancing Lums Pond State Park in partnership with the DNREC
    park staff.
  </p>

  <h2 id="amenities">Event Amenities & Activities</h2>
  <h4>Event Map</h4>
  <Image src={EventMapImg} alt="event map at pond fest" class="event-map" />

  <h4>Parking Map</h4>
  <p>
    Main parking will be in Area 1 (where the event is located). If needed,
    overflow parking will be available in Area 2, near the playground. Follow
    Pond Fest signs down the short trail to get to Area 1.
  </p>
  <Image src={ParkingMapImg} alt="parking map at pond fest" class="event-map" />
  <h3>Live Music</h3>
  <p>
    Check out this year's stacked lineup of live music and entertainment! We'll
    also have an Open Mic all day at the Nest Box stage! Sign up begins there at
    11am.
  </p>
  <div id="lineup-wrapper">
    <div id="lineup-list-box">
      <h6>Secondhand Stray</h6>
      <h6>FINN</h6>
      <h6>Big Izzy and Bullfrog</h6>
      <h6>The Mad Dabbers</h6>
      <h6>Stealing Society</h6>
      <h6>Adam Molden</h6>
      <h6>Vic Kozar</h6>
      <h6>Acoustic Sinz</h6>
      <h6>Ballet Folklórico</h6>
      <h6>Alyssa Compton</h6>
      <h6>Pet Project</h6>
    </div>
    <div id="lineup-image-box">
      <Image
        src={PondFestLineupImg}
        alt="pond fest lineup"
        id="event-lineup-img"
      />
    </div>
  </div>
  <h4>Live Music Seating</h4>
  <p>
    Relax on the lawn at our Wingspan stage or enjoy picnic seating near the
    Monarch stage.
  </p>

  <h3>Local Brews</h3>
  <p>
    Beer and seltzer will be available for purchase thanks to the generous
    donations of local breweries. Beer tickets can be purchased at Pond Fest HQ.
  </p>
  <ul>
    <li>JAKL Beer Works</li>
    <li>Volunteer Brewing Company</li>
    <li>First State Brewing Company</li>
  </ul>

  <h3>Food Trucks</h3>
   We've got some incredible food trucks lined up this year!
  <ul>
    <li>Dixie's Down Home Cooking</li>
    <li>DE Mex Street Foods</li>
    <li>We Aim To Cheese</li>
    <li>Kona Ice</li>
  </ul>

  <h3>Activities</h3>
  <ul>
    <li>Hayride through the park (additional purchase)</li>
    <li>Face Painting (additional purchase)</li>
    <li>Delaware R/C Club Display</li>
    <li>Delaware First Responders</li>
    <li>Delaware State Parks “Delawanderer” Airstream</li>
    <li>Large pieces of artwork hand-painted by local families and schools</li>
  </ul>

  <h4>First Responder Displays & Demos</h4>
  <p>
    We're honored to welcome Delaware's first responders to Pond Fest! From 1-3
    PM, you can explore their vehicles, equipment, and displays — and meet the
    heroes who serve our communities every day.
  </p>
  <Image
    src={FirstRespondersMapImg}
    alt="first responders layout"
    class="event-map"
  />

  <h4>Kid Zone!</h4>
  <p>
    We have a ton of fun activities planned for the kids! Kid Zone wristbands
    can be purchased at Pond Fest HQ.
  </p>
  <ul>
    <li>Book Readings</li>
    <li>
      Yard Games:
      <ul>
        <li>Giant jenga blocks</li>
        <li>Horseshoe</li>
        <li>Cornhole</li>
        <li>Connect 4</li>
        <li>Ring toss</li>
        <li>Football throw</li>
      </ul>
    </li>
    <li>
      Make-and-Take Arts & Crafts:
      <ul>
        <li>pumpkin decorating</li>
        <li>create a bookmark</li>
        <li>popsicle stick dragonflies</li>
        <li>felt decorations (ghosts, leaves, and pumpkins!)</li>
      </ul>
    </li>
    <li>
      Coloring Stations: paint, crayons, markers, foam stickers, regular
      stickers, etc.
    </li>
    <li>Temporary Tattoo Station</li>
    <li>Kiddie Duck Pond with Prizes</li>
    <li>Nature Scavenger Hunt</li>
    <li>Face Painting (available w/ tickets or wristband)</li>
  </ul>
  <h3>Raffle and Silent Auction</h3>
  <p>
    We'll be raffling and auctioning off a variety of exciting items generously
    donated by Friends of Lums Pond supporters. A few examples include:
  </p>

  <ul>
    <li>Pond Fest gift basket, including merch and FOLP membership</li>
    <li>Kids "Surf Fishing Vehicle" donated by DNREC</li>
    <li>A week of camping at Lums Pond donated by DNREC</li>
    <li>A pair of passes to Fort Delaware State Park donated by DNREC</li>
    <li>Foursome golf passes donated by Deerfield Golf Club</li>
    <li>Foursome golf passes donated by Garrisons Lake Golf Club</li>
    <li>Various items donated by REI</li>
    <li>A full-size cornhole set, hand-made and donated by Bob Conley</li>
    <li>Hand-made birdhouses donated by Bob Conley</li>
    <li>Band merchandise donated by Lucky Stone</li>
    <li>
      Ceramic painting mini-kit and Gift Card donated by Your Creation Station
    </li>
    <li>Mum and Gift Card donated by Willey Farms</li>
    <li>Artwork donated by local artist and illustrator, Mark Collins</li>
    <li>Restaurant Gift Card donated by Stewart's Brewing Company</li>
    <li>...and more!</li>
  </ul>

  <h3 id="vendors">Vendors, Crafters, and Nonprofits</h3>
  <p>
    We've got over 40 vendors, crafters, and nonprofits lined up for you to
    explore. Check back soon for more details.
  </p>
  <Image
    src={VendorMap}
    alt="vendor map at pond fest"
    id="vendor-map"
    class="pf-maps"
  />
  <table id="by-name">
    <thead>
      <tr>
        <th>Name of Business/Organization</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {
          VENDORS.map((vendor) => (
            <tr>
              <>
                <td>{vendor.name}</td>
                <td>{vendor.location}</td>
              </>
            </tr>
          ))
        }
      </tr>
    </tbody>
  </table>

  <h2>Sponsors</h2>
  <p>
    Friends of Lums Pond would like to extend our deepest gratitude to our
    sponsors for Pond Fest 2025! Together, we are making an impact. We could not
    do it without you!
  </p>

  <h3>Platinum Sponsors</h3>
  <ul>
    <li>Granite-Corinthian Lodge No. 34 A.F. & A.M.</li>
    <li>Christiana Care</li>
  </ul>
  <h3>Gold Sponsors</h3>
  <ul>
    <li>Superservice Automotive</li>
    <li>MOT Lending Group at Guild Mortgage</li>
    <li>Easterseals Delaware & Maryland's Eastern Shore</li>
  </ul>
  <h3>Silver Sponsors</h3>
  <ul>
    <li>Deerfield Golf Club</li>
    <li>Little Bear Dog Care & Training, LLC</li>
    <li>Sit Means Sit</li>
    <li>Academy of Dog Training & Agility</li>
    <li>Bayada Pediatrics</li>
    <li>Eric Morrison</li>
  </ul>
  <h3>Bronze Sponsors</h3>
  <ul>
    <li>Lucky Stone Band</li>
    <li>Cook Family Farms</li>
    <li>CrossFit Bear</li>
    <li>Maldonado Landscaping</li>
  </ul>
  <h3>Family Sponsors</h3>
  <ul>
    <li>Joel Mey & Family</li>
    <li>Jeremy Lambert & Family</li>
    <li>The Rose Family</li>
  </ul>

  <h2>Pond Fest Committee</h2>
  <p>
    Behind the music, activities, and community spirit of Pond Fest is a team of
    dedicated volunteers who made it all happen. From booking bands to
    coordinating vendors, designing merch, reaching out to sponsors, gathering
    and making raffle items, hands-on setup, and so much more. This group poured
    their hearts into creating a day for the community to enjoy. We are grateful
    for their energy, vision, and teamwork — Pond Fest would not be possible
    without them!
  </p>
  <b>Our 2025 Committee</b>
  <ul>
    <li>Bob Conley Sr</li>
    <li>Bryan Mey (co-chair)</li>
    <li>Candace Rodriguez</li>
    <li>Chris Grady</li>
    <li>Chriss Funcheon</li>
    <li>Clara Robbs</li>
    <li>Jenny Grady</li>
    <li>Jessie Mey (co-chair)</li>
    <li>John Jacob</li>
    <li>Katie Rose</li>
    <li>Linda Conley</li>
    <li>Mike Cathell</li>
    <li>Morgan Falk</li>
    <li>Patty Jacob</li>
  </ul>
  <b>Want to get involved?</b>
  <p>
    We're already looking ahead to Pond Fest 2026. If you'd like to join the
    planning committee or volunteer your time and talents, stop by the
    information tent or reach out to us at pondfest@friendsoflumspond.org.
  </p>

  <h2>Dear volunteers,</h2>
  <p>
    Thank you for your incredible dedication and hard work in making Pond Fest a
    reality! Your time, energy, and enthusiasm have brought this event to life,
    and we couldn't have done it without you. Whether you were behind the scenes
    or front and center during the event, your contributions have created a
    positive impact on Lums Pond State Park and the community we serve. Your
    commitment not only helps raise essential funds for the park but also
    fosters the spirit of togetherness and volunteerism that makes our park and
    events so special.
  </p>

  <b>Thank you to these amazing humans, our Pond Fest volunteers:</b>
  <ul>
    {volunteers.map((volunteer) => <li>{volunteer}</li>)}
    <li>
      ...and everyone whose contributions made this event possible, including
      those we may not have mentioned.
    </li>
  </ul>

  <p>
    With heartfelt appreciation,
    <br />Friends of Lums Pond
  </p>

  <h2>Dear guests,</h2>
  <p>
    Thank you so much for attending our fundraiser. We hope you enjoy your time
    in the park. The amount of interest and feedback for this event from the
    community has been almost overwhelming as if we are all craving something
    positive and pure to pour our hearts into. Lums Pond holds a special place
    in all of our hearts and the friends group is incredibly grateful that you
    support it, too. If it isn't too much trouble, we would greatly appreciate
    your feedback on your experience today by visiting the survey below. This
    will help us make sure to continue the things that went well and improve on
    things that didn't.
  </p>

  <a href="https://forms.gle/fjrmmXqYqzzwueWc6">Feedback Survey</a>

  <p>Thank you for being a friend of Lums Pond.</p>

  <p>
    From all of us,
    <br />Friends of Lums Pond
  </p>

  <i> Pond Fest 2025 - hosted by Friends of Lums Pond State Park</i>
</Layout>

<style>
  .hidden {
    display: none;
  }

  tr:nth-child(even) {
    background-color: #ddd;
  }

  :is(h1, h2, h3, h4, h5, h6) {
    padding-top: 1em;
  }
  ul {
    margin: 0.5em auto 0.5em auto;
  }

  #map-jump {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: lightblue;
    border: 1px solid lightskyblue;
    padding: 1rem 2rem;
    margin: 1rem auto;
    border-radius: 8px;
  }

  #event-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    max-width: 60vw;
    width: auto;
    height: auto;
    max-height: 50vh;
  }
  #event-shirt {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    max-width: 60vw;
    width: auto;
    height: auto;
    max-height: 50vh;
  }
  #event-lineup-img {
    display: block;
    max-width: 100%;
    width: auto;
    height: auto;
    margin: auto;
  }
  .event-map {
    max-width: min(90vw, 50rem);
    width: auto;
    height: auto;
    max-height: 80vh;
  }
  .pf-maps {
    max-width: min(90vw, 50rem);
    width: auto;
    height: auto;
    max-height: 80vh;
  }

  #lineup-wrapper {
    overflow: hidden;
  }
  #lineup-list-box {
    max-width: 30%;
    float: left;

    h6 {
      font-size: 1.2em;
      color: var(--color-primary-900);
      line-height: 1.1em;
      padding: 0.4em;
    }
  }
  #lineup-image-box {
    margin: auto;
    width: 69%;
    float: left;
  }
</style>

<script is:inline>
  const sortButton = document.getElementById("sortButton");
  sortButton?.addEventListener("click", function () {
    sortButton.innerText =
      sortButton.innerText === "Sort by name?"
        ? "Sort by location?"
        : "Sort by name?";

    const nameContainer = document.getElementById("by-name");
    nameContainer?.classList.toggle("hidden");

    const locContainer = document.getElementById("by-location");
    locContainer?.classList.toggle("hidden");
  });
</script>
