---
import { DONATE_URL, EMAIL, FACEBOOK_URL, JOIN_URL } from "../consts";
import { getUrl } from "./getUrl";
const today = new Date();
---

<footer>
	<p>
		&copy; {today.getFullYear()} Friends of Lums Pond, Inc. All rights
		reserved.
	</p>
	<div class="other-links">
		<a href={`mailto:${EMAIL}`}> Contact Us</a>
		<a href={JOIN_URL}> Join Us</a>
		<a href={DONATE_URL} target="_blank"> Donate</a>
		<a href={getUrl("")}> Home</a>
		<a href={getUrl("blog")}> Blog</a>
		<a href={getUrl("about")}> About</a>
	</div>

	<div class="social-links">
		<a href={FACEBOOK_URL} target="_blank">
			<span class="sr-only">Follow Friends of Lums Pond on Facebook</span>
			<i class="fa-brands fa-facebook fa-2x"></i>
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 4em 1em;
		background: var(--color-lighter);
		color: rgb(var(--color-primary-dark2));
		text-align: center;
	}
	.other-links {
		font-size: 1rem;
		display: flex;
		justify-content: center;
		gap: 1em;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
	}
	a {
		color: var(--color-primary);
	}
	a:hover {
		color: var(--color-primary-light);
	}
</style>
