---
import HeaderLink from "./HeaderLink.astro";
import { Image } from "astro:assets";
import { SITE_TITLE } from "../consts";
import logo from "../images/logo-with-title.png";

const getUrl = (slug: string = "") => {
	return `${import.meta.env.BASE_URL}/${slug}`;
};
---

<header>
	<nav>
		<h2><a href={getUrl()}><Image alt={SITE_TITLE} src={logo} height={100} /></a></h2>
		<div class="internal-links">
			<HeaderLink href={getUrl()}>Home</HeaderLink>
			<HeaderLink href={getUrl("blog")}>Blog</HeaderLink>
			<HeaderLink href={getUrl("about")}>About</HeaderLink>
		</div>
		<div class="social-links">
			<a
				href="https://www.facebook.com/FriendsofLumsPond"
				target="_blank"
			>
				<span class="sr-only">Follow Friends of Lums Pond on Facebook</span>
				<i class="fa-brands fa-facebook fa-xl"></i>
			</a>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: var(--color-lighter);
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
		flex-basis: 1;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	h2 img {
		height: 50px;
		width: auto;
		object-fit: scale-down;
	}
	nav {
		display: flex;
		align-items: center;
	}
	nav > * {
		flex: 1;
	}
	nav:first-child {
		margin-right: auto;
		text-wrap: nowrap;
	}

	nav:last-child {
		margin-left: auto;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
		justify-content: end;
	}
	.internal-links {
		flex: 1;
		text-align: center;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
